/* esercizio 1 */

.ex-1-square{
    transition: background-color 2s;
}

.ex-1-square:hover{
    background:red;
}

/* esercizio 2 */

.ex-2-square{
    transition: width 2s;
}

.ex-2-square:active{
    width: 300px;
}

/* esercizio 3 */

.ex-3-square{
    transition: border-radius 2s;
}

.ex-3-square:hover{
    border-radius: 100%;
}

/* esercizio 4 */

.ex-4-square{
    transition: opacity 2s;
}

.ex-4-square:hover{
    opacity: 0;
}

/* esercizio 5 */


.ex-5-square{
    transition: width 1s, height 1s;
}

.ex-5-square:hover{
    width: 100px;
    height: 100px;
}

.ex-5-square:active{
    width: 30px;
    height: 30px;
}

/* esercizio 6 */

.ex-6-img:hover{
    filter: grayscale(100%);
}

/* esercizio 7 */

.ex-7-img{
    transition: filter 2s, width 2s;
}


.ex-7-img:hover{
    filter: grayscale(100%);
    width: 700px;
}

/* esercizio 8 */

.ex-8-img{
    transition: filter 2s, border-radius 2s, border 2s;
}

.ex-8-img:hover{
    border: brown solid 10px;
    filter: blur(2px);
    border-radius: 30px;
}

/* esercizio 9 */

.ex-9-img{
    transition: filter 2s, border-radius 2s, border 2s, transform 2s;
}

.ex-9-img:hover{
    transform: scale(0.5);
    border: brown solid 10px;
    filter: saturate(150%);
    border-radius: 30px;
}

/* esercizio 10 */

.ex-10-icon{
    animation: rotation 1s;
    animation-iteration-count:infinite;
}

@keyframes rotation{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

/* esercizio 11 */

.ex-11-icon:hover{
    animation: partialRotation 2s;
    animation-iteration-count:infinite;
}


@keyframes partialRotation{
    from{transform: rotate(0deg);}
    to{transform: rotate(270deg);}  
}

/* esercizio 12 */

.ex-12-top-white{
    animation: borderMoveTop 2s infinite;
}

@keyframes borderMoveTop{
    0%{
        left: 65%;
    }
    50%{
        left: 1%;
    }
    100%{
        left: 65%;
    }
}

.ex-12-bottom-white{
    animation: borderMoveBottom 2s infinite;
}

@keyframes borderMoveBottom{
    0%{
        left: 1%;
    }
    50%{
        left: 65%;
    }
    100%{
        left: 1%;
    }
}

/* esercizio 13 */

.ex-13-top-white{
    animation: borderTop 4s infinite;
    animation-timing-function: linear;
}


@keyframes borderTop{
    0%{
        top: -10px;
        left: 10%;
    }
    10%{
        top: -10px;
        left: -3%;
    }
    30%{
        top: 55px;
        left: -3%;
    }
    65%{
        top: 50px;
        left: 90%;
    }
    80%{
        top: -11px;
        left: 90%;
    }
    100%{
        top: -10px;
        left: 10%;
    }
}


.ex-13-bottom-white{
    animation: borderBottom 4s infinite;
}

@keyframes borderBottom{
    0%{
        bottom: -10px;
        right: 20%;
    }
    10%{
        bottom: -10px;
        right: -10%;
    }
    30%{
        bottom: 52px;
        right: -10%;
    }
    65%{
        bottom: 52px;
        right: 75%;
    }
    80%{
        bottom: -10px;
    right: 75%;
    }
    100%{
        bottom: -10px;
        right: 20%;
    }
}